/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wdth' var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  container-type: inline-size;
  container-name: page;
}

.header{
  display: grid;
  grid-template-rows: 0.552fr 0.118fr 0.329fr;
  align-items: flex-end;
  background-color:var(--background-color);
  margin-top: 102px;
  margin-bottom: 102px;
  width: clamp(455px, 48.61vw, 48.61vw);
  height: clamp(364px, 38.33vh, 38.33vh);
  border: solid var(--accent-color) 2px;
  text-align: center;
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.logo{
  font-size: clamp(65px, 4.5vw, 4.5vw);
}

.main-title{
  font-size: clamp(23px, 1.5vw, 1.5vw);
}

.header__theme-menu{
  align-self: center;
  justify-self: center;
  width: 84px;
}

.theme-menu__list{
  display: grid;
  gap: 12px;
}

.theme-menu__button{
  width: 100%;
  text-align: left;
  position: relative;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  border: none;
  font-size: clamp(14px, 1vw, 1vw);
}

.theme-menu__button:disabled::before{
  position: absolute;
  content: '▶';
  left: -13px;
}

.content{
  display: grid;
  gap: 50px;
}

.card{
  background-color:var(--background-color);
  width: clamp(455px, 48.61vw, 48.61vw);
  border: solid var(--accent-color) 2px;
  display: flex;
  flex-direction: column;
}

.card__title{
  font-weight: var(--accent-font-weight);
  padding: 5px clamp(10px, 0.07vw, 0.07vw);
  font-size: clamp(18px, 1.25vw, 1.25vw);
}

.card__image{
  width: 100%;
}

.card__text-container{
  display: grid;
  margin: 27px 25px;
  gap: 27px;
}

.card__text{
  font-size: clamp(18px, 1.25vw, 1.25vw);
  
}

.card__buttons{
  align-self: flex-end;
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.card__like-button{
  margin-right: 25px;
  background: none;
  width: 130px;
  height: 38px;
}

.button{
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: clamp(14px,  1vw,  1vw);
  background: var(--background-color);
}

.card__icon-button{
  margin-top: 9px;
  border: none;
  width: 27px; 
  height: 24px;
}

.like-icon{
  width: 27px;
  height: 24px;
}

.footer{
  margin-top: 52px;
}

.footer__button{
  inline-size: 335px;
  block-size: 51px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.floppy{
  block-size: 21px;
  inline-size: 21px;
}

@container page (inline-size <= 375px) {

  .header{
    width: 100%;
  }

  .logo{
    font-size: clamp(49px,  13vw,  13vw);
  }
  
  .main-title{
    font-size: clamp(14px,  3.7vw,  3.7vw);
  }

  .card{
    width: 100%;
  }
}